<ActionBar title="المحفظه">
</ActionBar>
<side-drawer-page>
    <ListView [items]="myArrayItem">
        <template let-item="item">
            <GridLayout style="margin:5%;height:50%"  columns="*,*,*" rows="*,*,*">
                <Label col="0" row="0" class="text-center" [text]="" text='النسبه'></Label>
                <Label col="1" row="0" class="text-center" [text]="" text='اجمالى التكلفة'></Label>
                <Label col="2" row="0" class="text-center" [text]="" text='عدد التوصيلات'></Label>
                <Label col="0" row="1" class="text-center" [text]="" text='80 LE'></Label>
                <Label col="1" row="1" class="text-center" [text]="" text='100 LE'></Label>
                <Label col="2" row="1" class="text-center" [text]="" text='6'></Label>
                <Label col="0" row="2" class="text-center" [text]="" colspan="3" text='10 LE'></Label>
            </GridLayout>
        </template>
    </ListView>
</side-drawer-page>