<ActionBar title="register" class="text-center footnote">
    <NavigationButton text="Back" ios.position="left"></NavigationButton>
</ActionBar>
<DockLayout stretchLastChild="true">
    <StackLayout class="form" verticalAlignment="center">
        <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">

            <TextField #fullname="ngModel" [(ngModel)]="user.fullname" minlength="5" class="input" hint="اسم المستخدم" required></TextField>
            <StackLayout *ngIf="fullname.errors && (fullname.dirty || fullname.touched)">
                <Label *ngIf="fullname.errors.required" text="- An email is required -"></Label>
                <Label *ngIf="fullname.errors.minlength" text="- An fullname must be longer than 15 characters -"></Label>
            </StackLayout>

            <TextField #mobile="ngModel" [(ngModel)]="user.mobile" hint="رقم الهاتف" class="input" mobile></TextField>
            <StackLayout *ngIf="mobile.errors && (mobile.dirty || mobile.touched)">
                <Label *ngIf="mobile.errors.mobile" text="- Mobile Must be vaild -"></Label>
            </StackLayout>

            <TextField #password="ngModel" secure="true" minlength="5" [(ngModel)]="user.password" hint="كلمة المرر" class="input" required></TextField>
            <StackLayout *ngIf="password.errors && (password.dirty || password.touched)">
                <Label *ngIf="password.errors.required" text="- A password is required -"></Label>
                <Label *ngIf="password.errors.minlength" text="- A  Password must be longer than 5 characters -"></Label>
            </StackLayout>

            <TextField class="input" [(ngModel)]="user.identification" hint="الرقم القومي"></TextField>
            <StackLayout class="input-field">
                <Button text="تسجيل االاشتراك" (tap)="register()">
                </Button>
                <Label [nsRouterLink]="['/login']" text="رجوع" class="text-center footnote"></Label>
                <Label [nsRouterLink]="['/pilot/home']" text="رجوع" class="text-center footnote"></Label>

            </StackLayout>

        </StackLayout>
    </StackLayout>
</DockLayout>