<ActionBar title="الاعدادات">
</ActionBar>
<side-drawer-page>
    <StackLayout>
        <Image src="">

        </Image>
        <Label class="text-center" [text]="PilotDate.name" text='النسبه'></Label>
        <Label class="text-center" [text]="PilotData.email" text='اجمالى التكلفة'></Label>
        <!-- <Label  class="text-center" [text]="PilotData." text='عدد التوصيلات'></Label>
            <Label  class="text-center" [text]="" text='80 LE'></Label>
            <Label  class="text-center" [text]="" text='100 LE'></Label>
            <Label  class="text-center" [text]="" text='6'></Label>
            <Label  class="text-center" [text]="" colspan="3" text='10 LE'></Label> -->
    </StackLayout>
</side-drawer-page>